body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 0px;
  background-color: #ffffff;
  width:  100%;
  text-align: center;
  justify-content: center;
}


#game-header {
  display: grid;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    color: #888888;
  background-color: #ffffff;
  width:  100%;
  text-align: center;
}

#game-info {
  display: inline-block;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
  background-color: #ffffff;
  text-align: center;
  vertical-align: 5px;
  padding-left: 5px;
}

.star-container {
  display:  flex;
}

#double-container {
  width:  100%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

#explainer-text {
  display: inline-block;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

#logo-text {
  display: inline-block;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    width:  100%;
    text-align: right;
    margin-bottom: 2px;
}

#logo-text-yellow {
  display: inline-block;
  color: #fdc628;
}

#logo-text-green {
  display: inline-block;
  color: #1dad65;
}


#button-container {
  text-align: center;
}

.tile {
  width: 40px;
  height: 40px;
}

a {
  color: #888888;
  text-decoration: none; /* no underline */
}

.empty {
  background-color: #f1f1f1;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}

.player {
  background-color: #fdc628;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}

.collectable {
  background-color: #1dad65; 
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}

.obstacle {
  background-color: #888888;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}

.teleport_origin {
  background-color: #00cde8;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}

.antiplayer {
  background-color: black;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}

.vantiplayer {
  background-color: #430278;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}

.teleport_destination {
  background-color: blue;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}


  /* Add some styles for the virtual arrow keys */
  .virtual-keys {
    text-align: center;
        display: none;
        justify-content: center;

  }

  .virtual-keys button {
    background: #ccc;
    border: 1px solid #999;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: le;
    align-items: center;
    margin: 10px;
    display: inline-block;
  }

  .virtual-keys .arrow-icon {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }


@media screen and (max-width:420px) {
  #game-container {
  display: grid;
  grid-template-columns: repeat(10, minmax(30px, 30px));
  grid-template-rows: repeat(10, minmax(30px, 30px));
  gap: 0px;
  background-color: #ffffff;
  width:  100%;
  text-align: center;
  justify-content: center;
}

.tile {
  width: 30px;
  height: 30px;
}
}

